---
layout: default
title: "Welcome to Cultural Economics"
---
<div class="hero-dark">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <h2>
      Guides, courses, & workshops to power the homescale production economy.
    </h2>
  </div>
</div>

<div class="container">

  <div class="mar-v">
    <h2>Filter by skill</h2>
    {% for skill in site.skills %}
      <a class="tag" href="{{site.baseurl}}{{skill.url}}">{{ skill.name }}</a>
    {% endfor %}
  </div>


  <h2>
    Browse guides
  </h2>
  <ul class="card-container">
    {% for guide in site.guides %}
      {% include guide_card.html guide=guide %}
    {% endfor %}
  </ul>
</div>