<footer class="footer">
    <div class="container-sm text-center">

        <iframe style="width:100%;" height="305" src="https://9e7fe685.sibforms.com/serve/MUIFAIQAkw-15lzTKSJqFqmdRKeRZALB0lrxSg1Sf2glmbHH43FaM7FaoAN5UqmqWSwj0lQabnUaIjSz9gvjnZNv3uAi17vI26dj6q6ue5UBfwLH1nyr9Rt5CDr4VXaJv4SzRgX4aAodTiY2R5W4wvTns8jdtX5I2_Cd9yMzscCTU6m-jhkvYVgOpejPR4KHSF9FSnmDlvrNY19l?xx" frameborder="0" scrolling="auto" allowfullscreen></iframe>
        <small>This site is only built to promote and share the projects within. At this time none of the guides are written by, or property of Cultural Economics. </small>
        <small>
            If you want to learn more about the project, <a href="{{site.baseurl}}/vision.html">read about the vision</a>.
        </small>
    </div>
</footer>

</body>
</html>