<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open Sans:ital,wght@0,400;0,700;1,400;1,700&family=Caprasimo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<header class="nav">
    <nav class="row row-between container">
        <a href="{{site.baseurl}}/" class="logo">Cult/Econ</a>
        <div>
            <a href="{{site.baseurl}}/skills">
                Skills
            </a>
            <a href="{{site.baseurl}}/vision">Vision</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScHnifmBHXBhkjoEP2KkuAveaUH3PXjaCfe7nI2ahPdQWtCeQ/viewform">
                Request / submit a guide
            </a>
        </div>
    </nav>
</header>
<body>