.tag {
    display: inline-block;
    background-color: $pr-2;
    border-radius: var(--rad-lg);

    color: $white;
    text-decoration: none;

    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;
    // margin-top: 0.5rem;
    margin-right: 0.5rem;

    white-space: nowrap;

    transition: 0.15s ease;
}
.tag:hover {
    background-color: $pr-dark;
    color: $white;
}

.page-cover {
    overflow: hidden;
    background-color: $gray2;
}
.page-cover img {
    margin: 0 auto;
    max-height: 20rem;
}

.hero-dark {
    padding: 1rem 1rem;
    background-color: $pr-dark;

    h1 {
        color: $white;
    }
    h2 {
        color: $pr-3;
    }
}

.btn-primary {
    display: inline-block;
    padding: 0.85rem 1.5rem;
    border-radius: var(--rad);

    background-color: $pr-4;

    color: $white;
    font-weight: 600;
    text-decoration: none;

    transition: 0.15s ease;
}
.btn-primary:hover {
    background-color: $pr-5;
    color: $white;
}

.embed-container {
    max-width: 60rem;
    margin: 0 auto;
}
.embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
 }
 .embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: $pr-dark;

    a {
        padding-right: 1.5rem;
        text-decoration: none;

        color: $pr-6;

        &:hover {
            text-decoration: underline;
        }
    }
}
.nav .logo {
    font-family: var(--font-heading);
    font-weight: 400;

    color: $white;
}


.footer {
    margin-top: 4rem;
    padding: 1rem;
}

.card-container {
    padding: 0;
    list-style-type: none;

    // display: flex;
    // flex-flow: row wrap;
    // justify-content: space-between;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
    @media screen and (min-width: 520px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
    }
    @media screen and (min-width: 980px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
.card {
    position: relative;
    padding: 0.5rem;
    // margin-bottom: 0.75rem;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;

    border-radius: var(--rad);

    background-color: $pr-5;

    overflow: hidden;

    // @media screen and (min-width: 520px) {
    //     width: calc(50% - 0.25rem);
    // }
    // @media screen and (min-width: 980px) {
    //     width: calc(33.33% - 0.25rem);
    // }

}

    .card-img {
        width: 4rem;
        height: 4rem;
        border-radius: var(--rad);
        overflow: hidden;

        background-color: $gray2;

        img {
            object-fit: cover;
            height: 100%;
            min-width: 100%;
        }
    }
    .card-content {
        margin-left: 0.85rem;
        color: $gray2;
        overflow: hidden;

        a {
            color: $white;
        }
    }
    .card-tag {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            background: radial-gradient($pr-5, rgba($pr-5, 0));
        }
    }
