.container {
    max-width: 68.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 800px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
.container-sm {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.mar-b {
    margin-bottom: 1rem;
}
.mar-v {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.row-between {
    justify-content: space-between;
}