h1 {
    font-size: 2rem;
    @media screen and (min-width: 845px) {
        font-size: 3rem;
    }
}
h1, h2 {
    font-family: var(--font-heading);
    font-weight: 400;
    color: $pr-dark;
    letter-spacing: 0.02rem;
}


p a {
    color: $pr-5;
}
p a:hover {
    color: $pr-4;
}

p a,
small a {
    color: $pr-2;
}

.text-center {
    text-align: center;
}

.meta {
    font-size: 0.85rem;
}

