$white: #FAF7EE;
$black: #111;

$gray1: #ddd;
$gray2: #e0dad3;
$gray3: rgb(135, 132, 131);
$gray4: #666;

$pr-dark: #4F3B42;
$pr-2: #C16662;
$pr-3: #EAA548;
$pr-4: #74B26E;
$pr-5: #304033;
$pr-6: #D1B78F;