/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body, p,
figure, blockquote, dl, dd, ul[class],
ol[class] {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
h1, h2,
h3, h4 {
  text-wrap: balance;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
:target {
    scroll-margin-block: 5ex;
}



@import '_vars.scss';
@import '_icons.scss';
@import '_layout.scss';
@import '_typography.scss';
@import '_elements.scss';
@import '_media-card.scss';

body {
    --font: -apple-system, '.SFNSText-Regular', 'San Francisco', 'Oxygen', 'Ubuntu', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', sans-serif;
    --font-body: 'Open Sans', serif;
    --font-heading: 'Caprasimo', serif;

    --spacing: 1rem;
    --rad: 0.75rem;
    --rad-lg: 1rem;

    --bp-xl: 1600px;
    --bp-lg: 1200px;
    --bp-md: 800px;
    --bp-sm: 600px;
    --bp-xs: 400px;

    font-family: var(--font-body);
    background-color: $white;

    font-size: 17px;
}